{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
     <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">

    <title>Hello</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">

   <link rel="stylesheet" href="{% static 'css/shop.css' %}">

      <link rel="stylesheet" href="{% static 'css/account.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
      <style>
      * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

      section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background:#fff;
}
.container-card {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.user .button {
  height: 45px;
  margin: 20px 0px;
}
.user .button a {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.user form h5 {
height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  }
.container-card .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container-card .title::before {
  user:"";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}


  @media(max-width: 584px) {
  .container-card {
    margin-top:10px;
    padding-top:10px;
    max-width: 100%;
  }
  .user{
    margin-top:10px;
    margin-bottom: 10px;
    width: 100%;
  }

  .user form{
    max-height: 430px;
    overflow-y: scroll;
  }
  .user::-webkit-scrollbar {
    width: 15px;
  }
}
/* Responsive media query code for mobile devices */
@media(max-width: 459px) {
  .container-card .user {
    flex-direction: column;
  }
}


      </style>
    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'shopapp:index' %}" class="logo">
                           <img src="{% static 'myimage/logo.png' %}">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="home"><a href="{% url 'shopapp:index' %}" >Home</a></li>
                            <li class="men_link"><a href="{% url 'shopapp:men_products' %}" class="active">Men's</a></li>
                            <li class="women_link"><a href="{% url 'shopapp:women_products' %}">Women's</a></li>
                            <li class="kid_link"><a href="{% url 'shopapp:kid_products' %}">Kid's</a></li>
                            <li class="submenu">
                                <a href="javascript:;" class="active">User</a>
                                <ul>
                                    {% if user.is_authenticated %}
                                    <li><a href="{% url 'userapp:account' %}">{{user.username}}</a></li>
                                    <li class="register_link"><a href="{% url 'userapp:logout' %}">Logout</a></li>
                                    {% else %}
                                    <li class="register_link"><a href="{% url 'userapp:register' %}">Register</a></li>
                                    <li class="login_link"><a href="{% url 'userapp:login' %}">login</a></li>
                                    {% endif %}
                                    <li class="about_link"><a href="#about-us">About Us</a></li>

                                </ul>
                            </li>
                             <li>
                                <a href="{% url 'cartapp:cart-detail' %}"><button class="btn btn-outline-success" type="submit"><i class="fa fa-shopping-cart cart-icon" aria-hidden="true"  style="font-size:20px"></i></button>{{counter}}</a>
                             </li>


                            <li class="submenu">
                                <a href="javascript:;">Explore</a>
                                <ul>
                                    <li>
                                        <form class="d-flex" action="{% url 'searchapp:search' %}" method="get">
                                    {% csrf_token %}
                                    <input class="form-control me-2" type="search" placeholder="Search" name="q" aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>

                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <section>
        <div class="container-card">
            <div class="row">
                    <div class="col-12">
                        <div class="title">Profile</div>
                        <div class="user">
                            <form>
                                <div>
                                    {% if user.is_authenticated %}
                                    <h5>First Name:{{user.first_name}}</h5>
                                    <h5>Last Name:{{user.last_name}}</h5>
                                    <h5>Email:{{user.email}}</h5>
                                    <h5>Phone:{{profile.phone}}</h5>
                                    {% endif %}
                                   <h5>Address 1:{{profile.address1}}</h5>
                                    <h5>Address 2:{{profile.address2}}</h5>
                                    <h5>City:{{profile.city}}</h5>
                                    <h5>State:{{profile.state}}</h5>
                                    <h5>Country:{{profile.country}}</h5>
                                    <h5>Pincode:{{profile.pincode}}</h5>
                                </div>
                                <div class="button">
                                    <a href="{% url 'userapp:profile' %}">Update Details</a>
                                </div>

                                <div class="button">
                                    <a href="{% url 'cartapp:cart-detail' %}" class="btn btn-primary">Cart</a>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <!-- ***** About Area Ends ***** -->



    <!-- ***** Footer Start ***** -->
    <footer id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                           <img src="{% static 'myimage/footer-logo.png' %}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Shopping &amp; Categories</h4>
                    <ul>
                        <li><a href="{% url 'shopapp:men_products' %}">Men’s Shopping</a></li>
                        <li><a href="{% url 'shopapp:women_products' %}">Women’s Shopping</a></li>
                        <li><a href="{% url 'shopapp:kid_products' %}">Kid's Shopping</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2023 Bent OnlineShopping Co., Ltd. All Rights Reserved.</p>
                        
                        <br>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'js/owl-carousel.js' %}"></script>
    <script src="{% static 'js/accordions.js' %}"></script>
    <script src="{% static 'js/datepicker.js' %}"></script>
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imgfix.min.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/lightbox.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    
    <!-- Global Init -->
    <script src="{% static 'js/custom.js' %}"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>

</html>
